* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
/*==== Navbar CSS =====*/
.nav-link {
  font-size: 20px;
  color: #9d9d9d;
  font-weight: 400;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px !important;
  position: relative;
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 4px;
  background-color: #f6a51b;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  transition: 0.3s;
}
.nav-link:hover {
  color: #f6a51b;
}
.nav-link:hover::after {
  width: 20px;
}
.button {
  margin-left: 30px;
}
.navbar {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.button a {
  background-color: #f6a51b;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/*==== Banner CSS =====*/
#banner {
  padding-top: 212px;
  background-color: #f9f3e9;
}
.banner-left h1 {
  color: #414141;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  line-height: 90px;
  font-weight: 600;
  padding-right: 52px;
  padding-bottom: 30px;
}
.banner-left p {
  color: #9d9d9d;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-right: 50px;
  padding-bottom: 65px;
}
.banner-left a {
  background-color: #f6a51b;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 15px;
  line-height: 24px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.banner-left .btn2 {
  background-color: transparent;
  color: #f6a51b;
  border: 1px solid #f6a51b;
}
.banner-left {
  padding-top: 68px;
}
/*==== welcome CSS =====*/
#welcome {
  padding-top: 150px;
  padding-bottom: 192px;
}
.headline h2 {
  color: #414141;
  font-size: 60px;
  line-height: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-bottom: 50px;
}
.headline span {
  color: #f6a51b;
}
.headline p {
  font-size: 18px;
  line-height: 27px;
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 12px;
}
.welcome-left {
  padding-top: 8px;
}
.welcome-right {
  padding-top: 84px;
}
.welcome-right h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 80px;
  color: #414141;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20;
}
.welcome-right p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  padding-right: 76px;
  padding-bottom: 30px;
}
.points-item i {
  font-size: 21px;
  color: #243e8e;
  margin-top: 4px;
}
.points-item span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
}
.points-item {
  gap: 10px;
  margin-bottom: 25px;
}
/*==== concern CSS =====*/
#concern {
  padding-bottom: 150px;
}
.head h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  color: #414141;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.head h2::after {
  position: absolute;
  content: "";
  width: 148px;
  height: 10px;
  background-color: #f6a51b;
  left: 0;
  bottom: -10px;
  border-radius: 26px;
}
.head {
  padding-bottom: 70px;
}
.concern-item {
  border: 1px solid #9d9d9d;
  border-radius: 15px;
  padding: 32px 25px 26px 22px;
}
.c-logo {
  padding-bottom: 22px;
}
.concern-item p {
  font-size: 16px;
  line-height: 24px;
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-bottom: 70px;
}
.concern-item a {
  background-color: #f6a51b;
  padding: 8px 20px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}
.c-logo img {
  height: 74px;
  width: 170px;
}
/*==== grow CSS =====*/
#grow {
  padding-bottom: 153px;
}
#grow .head h2::after {
  display: none;
}
#grow .head h2::before {
  position: absolute;
  content: "";
  width: 148px;
  height: 10px;
  background-color: #f6a51b;
  right: 0;
  bottom: -20px;
  border-radius: 26px;
}
.grow-item {
  border-radius: 15px;
  padding: 35px 0 32px 0;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}
.grow-item h4 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
  color: #f6a51b;
  font-family: "Poppins", sans-serif;
}
.grow-item p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #414141;
  font-family: "Poppins", sans-serif;
}
/*==== faq CSS =====*/
#faq {
  background-color: #f9f3e9;
  padding-top: 123px;
}
.faq-right {
  padding-top: 26px;
}
#faq .head h2::after {
  bottom: -20px;
}
.accordion-flush > .accordion-item {
  margin-bottom: 30px;
  border-radius: 20px;
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}
.accordion-flush > .accordion-item > .accordion-collapse,
.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush
  > .accordion-item
  > .accordion-header
  .accordion-button.collapsed {
  border-radius: 15px;
}
.accordion-button {
  font-size: 18px;
  font-weight: 300;
  color: #9d9d9d;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}
.accordion-body {
  font-size: 18px;
  font-weight: 300;
  color: #9d9d9d;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 55px;
}
.accordion-button:not(.collapsed) {
  color: #f6a51b;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.accordion-button::before {
  width: 580px;
  height: 1px;
  background-color: transparent;
  content: "";
  left: 20px;
  bottom: -5px;
  position: absolute;
}
.accordion-button:not(.collapsed)::before {
  background-color: #9d9d9d;
}
/*==== success CSS =====*/
#success {
  padding-top: 158px;
  padding-bottom: 150px;
}
.success-left i {
  top: 50%;
  left: 50%;
  font-size: 124px;
  color: #fff;
  transform: translate(-50%, -50%);
}
.head p {
  padding-top: 52px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #9d9d9d;
  padding-right: 112px;
}
.right i {
  font-size: 50px;
}
.right-p {
  padding-top: 16px;
}
.success-right {
  padding-left: 15px;
}
/*==== ready-main CSS =====*/
.ready-main {
  background-color: #f9f3e9;
  padding: 53px 0;
  border-radius: 20px;
  padding-right: 54px;
}
.ready-right {
  padding-left: 58px;
}
.ready-right h3 {
  font-size: 48px;
  color: #414141;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
  font-weight: 500;
  padding-bottom: 50px;
}
.field input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9a9a9a;
  background-color: transparent;
  outline: 0;
}
.field input::placeholder {
  color: #9a9a9a;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.field {
  padding-bottom: 50px;
  width: 95%;
}

.field button {
  background-color: #f6a51b;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 0;
  margin-top: 30px;
}
/*==== footer CSS =====*/
footer {
  padding: 150px 0;
}
.fo {
  border-top: 2px solid #9d9d9d;
  padding-top: 50px;
}
.footer-left h3 {
  color: #414141;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  padding-bottom: 12px;
}
.footer-left h3 span {
  color: #f6a51b;
}
.footer-left p {
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 36px;
  font-size: 18px;
  padding-bottom: 30px;
}

.footer-right h3 {
  color: #414141;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  padding-bottom: 12px;
}
.footer-right p {
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 36px;
  font-size: 18px;
  padding-bottom: 30px;
}
.social i {
    width: 60px;
    height: 60px;
    background-color: #f6a51b;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    border-radius: 10px;
    margin-left: 10px;
}
/* modal */
.modal-title {
  font-size: 24px;
  color: #243e8e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.button a {
  background-color: #f6a51b;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.joinbtn button {
  background-color: #f6a51b;
  padding: 8px 40px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 0;
}
.modal-dialog {
    max-width: 30%;
}

.nav-item button {
  background-color: #f6a51b;
  font-size: 18px;
  color: #414141;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 20px;
  border: 0;
  color: #fff;
  font-weight: 500;
}
.nav-item button.active {
  background-color: #243e8e;
}